<%
svgCore = require('@fortawesome/fontawesome-svg-core')
icons = require('@fortawesome/free-solid-svg-icons')
svgCore.library.add(icons.fas)
%>
<!doctype html>
<html>
  <head>
    <title>Donna &amp; Kevin's wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="titillium-web text-grey">
    <header>
      <div class="pane">
        <div class="wrapper">
          <div class="page-nav">
            <a href="#nav" class="page-nav__trigger">
              <%= svgCore.icon({ iconName: 'bars' }).html %>
              <span class="clip">Menu</span>
            </a>
            <nav id="nav" class="page-nav__nav">
              <ul class="page-nav__list">
                <li class="page-nav__item">
                  <a href="#when-where" class="page-nav__link">
                    When / Where
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#how-to-get-there" class="page-nav__link">
                    How to get there
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#places-to-stay" class="page-nav__link">
                    Places to stay
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#on-the-day" class="page-nav__link">
                    On the day
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#gifts" class="page-nav__link">
                    Gifts
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#rsvp" class="page-nav__link">
                    RSVP
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="mailto:help@donnakevin.wedding" class="page-nav__link">
                    Contact us
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <h1 class="ma0">
            <img src="<%= require('./images/logo.png') %>"
                 alt="Donna Carter &amp; Kevin Dew - 28.03.20"
                 class="hero-image">
          </h1>
        </div>
      </div>
    </header>
    <main>
      <div class="pane pane--pale-green">
        <div class="wrapper mw6">
          <img src="<%= require('./images/us.jpg') %>"
               alt="Donna and Kevin at sea"
               class="br-100 mt3 mw5 db center">
          <h2 class="section-header tc">We’re getting married...</h2>
          <p class="section-copy mb3 tc-ns">
            Finally! We are really looking forward to seeing you
            all on our big day. To make life easy we have put this website
            together so you can find all the information you might need.
          </p>
        </div>
      </div>
      <div class="pane pane--leaves-gate" id="when-where">
        <div class="wrapper flex items-start justify-around">
          <div class="w-50 mw5 tc pa1 leaves-foreground">
            <h2 class="section-header">When</h2>
            <time class="section-copy db tc mb4"
                  datetime="2020-03-28T11:00:00.000Z">
              Saturday<br>
              28 March 2020<br>
              at 11:00 am
            </time>
            <a href="<%= require('./add-to-calendar.ics') %>"
               class="button center mb4">
              Add to calendar
            </a>
          </div>
          <div class="w-50 mw5 tc pa1 leaves-foreground">
            <h2 class="section-header">Where</h2>
            <address class="section-copy db mb4">
              Rudding Park<br>
              Harrogate<br>
              HG3 1JH
            </address>
            <a href="https://www.google.com/maps/place/Rudding+Park/@53.9735165,-1.494559,12z/data=!4m8!3m7!1s0x4879519a142cdf57:0xcdaaafbf8e064753!5m2!4m1!1i2!8m2!3d53.9735134!4d-1.4923703"
               class="button center mb4"
               target="_blank">
              See on map
            </a>
          </div>
        </div>
      </div>
      <div class="pane pane--muted-sage-green" id="how-to-get-there">
        <div class="wrapper">
          <h2 class="section-header tc">How to get there</h2>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'car' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Car</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                Car is the easiest way to get to Rudding Park and there is plenty
                of parking at the venue. Rudding park is just off the A658. Take
                J47 off the A1 onto A59 to reach the A658. The venue is really well
                signposted.
              </p>
            </div>
          </div>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'subway' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Public transport</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                The nearest station to Rudding Park is Panal and it is just a
                5 minute taxi ride from there.
              </p>
              <p class="section-copy">
                Alternatively you can head to Harrogate station, the venue is a
                13 minute taxi ride from there.
              </p>
              <p class="section-copy">
                We have found that booking trains in advance is much cheaper,
                especially if you are travelling from London. Book your tickets
                here: <a href="https://www.lner.co.uk" class="link">lner.co.uk</a>
              </p>
            </div>
          </div>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'taxi' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Local Taxis</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                There are no public transport links to the venue itself from
                Harrogate or Pannal so we strongly suggest that you pre-book
                your taxi for the day/evening in advance. We have been
                recommended Blue Line taxis, to book please call
                <a href="tel:01423530830" class="link">01423 530830</a>.
                They usually cost around £10 each way.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane" id="places-to-stay">
        <div class="wrapper">
          <h2 class="section-header tc">Places to stay</h2>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/rudding-park.jpg') %>"
                   alt=""
                   class="image-highlight__image"
                   role="presentation">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Rudding Park</h3>
              <p class="section-copy">
                Stay with us at Rudding Park Hotel &amp; Spa and take advantage
                of the on-site golf and Spa facilities, find out more about the
                venue at
                <a href="https://www.ruddingpark.co.uk" class="link">
                  ruddingpark.co.uk
                </a>
                The rooms here are slightly on the more expensive side but it
                is ultra convenient and you will be able to have breakfast with
                us the morning after the big day - if you haven’t had enough of
                us that is! Let us know if you decide to stay here so we can
                organise a private room for breakfasts. Rooms here start from
                around £217 (though you can get slightly cheaper if you book
                last minute) and are available to book now.
              </p>
            </div>
          </div>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/premier-inn.jpg') %>"
                   alt=""
                   class="image-highlight__image"
                   role="presentation">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Premier Inn Harrogate South</h3>
              <p class="section-copy">
                There is a Premier Inn 10 minutes away by car which is perfect
                to stay at if you are driving and don’t want to stay at the
                venue or drive through the centre of Harrogate. Everyone knows
                what to expect with a Premier Inn and they do great breakfasts
                too. You can expect rooms here to cost around £54 a night and
                are available to book now.
              </p>
            </div>
          </div>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/harrogate.jpg') %>"
                   alt=""
                   class="image-highlight__image"
                   role="presentation">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Harrogate Town Centre</h3>
              <p class="section-copy">
                If you are travelling by train or would prefer more of a city
                break then staying in the centre of Harrogate would be the
                perfect option. If you have never travelled to the north
                before then Harrogate is a real treat! It is a picturesque
                town full of lovely shops and places to eat - including the
                famous Betty’s Tea Rooms. Harrogate has a heritage as a
                fashionable spa town so there’s lots to see and do, find out
                more here
                <a href="https://www.visitharrogate.co.uk" class="link">
                  visitharrogate.co.uk
                </a>. There are lots of hotel and Airbnb options available
                and it’s probably best to start your search here
                <a href="https://www.booking.com" class="link">
                  booking.com
                </a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane pane--forest-green" id="on-the-day">
        <div class="wrapper">
          <h2 class="section-header tc">On the day</h2>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T11:00:00.000Z">
                11:00
              </time>
              <span class="timeline-entry__event">Ceremony</span>
            </h3>
            <p class="timeline-entry__copy">
              Please start arriving from 10:00, we would like all bums in
              seats before 10:45 ready for the big moment.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T11:30:00.000Z">
                11:30
              </time>
              <span class="timeline-entry__event">Reception</span>
            </h3>
            <p class="timeline-entry__copy">
              Time to throw some confetti (if the weather is nice) and drink
              Prosecco! We will have a classical guitarist to keep us
              entertained too - see if you can spot which song we have
              specially requested for him to play. There will also be a kids
              room full of things to keep the little ones entertained.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T13:30:00.000Z">
                13:30
              </time>
              <span class="timeline-entry__event">Breakfast</span>
            </h3>
            <p class="timeline-entry__copy">
              We should all be a little bit tipsy and very hungry at this
              point so let’s sit and enjoy some delicious food. There will
              be some time after the meal where you can freshen up or carry
              on drinking until the party starts in the evening.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T18:30:00.000Z">
                18:30
              </time>
              <span class="timeline-entry__event">Party</span>
            </h3>
            <p class="timeline-entry__copy">
              Witness the cutting of the cake and our first dance. A DJ will
              encourage everyone to hit the dance floor and throw some shapes.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T20:00:00.000Z">
                20:00
              </time>
              <span class="timeline-entry__event">Buffet</span>
            </h3>
            <p class="timeline-entry__copy">
              Everyone should have the munchies by now, we will be providing
              some finger food for everyone and there will also be tonnes of
              cake.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-29T01:00:00.000Z">
                01:00
              </time>
              <span class="timeline-entry__event">Home time</span>
            </h3>
            <p class="timeline-entry__copy">
              The party will go on until 1am and if you have made it to this
              time well done, we will probably be fast asleep at this point.
              If you are staying at the venue there is another residents bar
              that will be open if you want to carry on celebrating otherwise
              if you have booked your taxi it will be waiting outside for you.
              Don’t forget the clocks for forward an hour at 02:00!
            </p>
          </div>
        </div>
      </div>
      <div class="pane pane--leaves" id="gifts">
        <div class="wrapper">
          <div class="leaves-foreground pa3 mv4 w-80-ns center">
            <h2 class="section-header tc">Gifts</h2>
            <p class="section-copy tc">
              Please don’t feel obliged to buy us a gift, we know that
              attending will be expensive and we’d just love to have you there.
              If you do wish to give us something a contribution to our
              honeymoon would be appreciated.
            </p>
            <div class="tc">
              <a href="https://www.paypal.com/pools/c/8h5fFec6PX" class="button mb4">
                Contribute
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pane" id="rsvp">
        <div class="wrapper">
          <h2 class="section-header tc">RSVP</h2>
          <p class="section-copy tc mb5">
            Please let us know if you can attend by the 31st October 2019.
          </p>
          <form method="post" class="form">
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">
                  <label for="name" class="form__label">Who are you?</label>
                </div>
                <div class="form__field">
                  <input type="text" name="name" id="name" class="form__input-text">
                </div>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">
                  <label class="form__label">Are you attending?</label>
                </div>
                <div class="form__field">
                  <label class="form__label form__label--radio">
                    <input type="radio" name="attend" value="yes" checked>
                    Yup, I'm ready to eat, drink, and see you get married!
                  </label>
                  <label class="form__label form__label--radio">
                    <input type="radio" name="attend" value="no">
                    Afraid not, I will toast to you from afar.
                  </label>
                </div>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">
                  <label for="guests" class="form__label">Who is coming with you?</label>
                </div>
                <div class="form__field">
                  <textarea type="text" name="guests" id="guests" class="form__input-text h4"></textarea>
                </div>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">
                  <label for="dietary" class="form__label">Any dietary requirements?</label>
                </div>
                <div class="form__field">
                  <textarea type="text" name="dietary" id="dietary" class="form__input-text h4"></textarea>
                </div>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">
                  <label for="tune" class="form__label">Any song choices?</label>
                </div>
                <div class="form__field">
                  <textarea type="text" name="tune" id="tune" class="form__input-text h4"></textarea>
                </div>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">
                  <label for="comment" class="form__label">Anything else we should know?</label>
                </div>
                <div class="form__field">
                  <textarea type="text" name="comment" id="comment" class="form__input-text h4"></textarea>
                </div>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div class="flex-ns">
                <div class="form__info">&nbsp;</div>
                <div class="form__field">
                  <button type="submit" class="button">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </main>
    <footer class="pa3">
      <div class="wrapper flex-ns items-start-ns justify-between-ns pt3">
        <p class="mv1 leaves-foreground">Made with ❤️ by Donna and Kevin</p>
        <ul class="footer-links leaves-foreground">
          <li class="footer-links__item">
            <a href="https://github.com/kevindew/donnakevin.wedding" class="link">Source code</a>
          </li>
          <li class="footer-links__item">
            <a href="mailto:help@donnakevin.wedding" class="link">Contact us</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
