<%
svgCore = require('@fortawesome/fontawesome-svg-core')
icons = require('@fortawesome/free-solid-svg-icons')
svgCore.library.add(icons.fas)
%>
<!doctype html>
<html>
  <head>
    <title>Donna &amp; Kevin's wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="titillium-web text-grey">
    <header>
      <div class="pane">
        <div class="wrapper">
          <div class="page-nav">
            <a href="#nav" class="page-nav__trigger">
              <%= svgCore.icon({ iconName: 'bars' }).html %>
              <span class="clip">Menu</span>
            </a>
            <nav id="nav" class="page-nav__nav">
              <ul class="page-nav__list">
                <li class="page-nav__item">
                  <a href="#when-where" class="page-nav__link">
                    When / Where
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#how-to-get-there" class="page-nav__link">
                    How to get there
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#places-to-stay" class="page-nav__link">
                    Places to stay
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#on-the-day" class="page-nav__link">
                    On the day
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#gifts" class="page-nav__link">
                    Gifts
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#rsvp" class="page-nav__link">
                    RSVP
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="mailto:help@donnakevin.wedding" class="page-nav__link">
                    Contact us
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <h1 class="ma0">
            <img src="<%= require('./images/logo.png') %>"
                 alt="Donna Carter &amp; Kevin Dew - 28.03.20"
                 class="hero-image">
          </h1>
        </div>
      </div>
    </header>
    <main>
      <div class="pane pane--pale-green">
        <div class="wrapper mw6">
          <img src="<%= require('./images/us.jpg') %>"
               alt="Donna and Kevin at sea"
               class="br-100 mt3 mw5 db center">
          <h2 class="section-header tc">We’re getting married...</h2>
          <p class="section-copy mb3 tc-ns">
            Finally! We are really looking forward to seeing you
            all on our big day. To make life easy we have put this website
            together so you can find all the information you might need.
          </p>
        </div>
      </div>
      <div class="pane" id="when-where">
        <div class="wrapper flex items-start justify-around">
          <div class="w-50 mw5 tc pa1">
            <h2 class="section-header">When</h2>
            <time class="section-copy db tc mb4"
                  datetime="2020-03-28T11:00:00.000Z">
              Saturday<br>
              28 March 2020<br>
              at 11:00 am
            </time>
            <a href="<%= require('./add-to-calendar.ics') %>"
               class="button center mb4">
              Add to calendar
            </a>
          </div>
          <div class="w-50 mw5 tc pa1">
            <h2 class="section-header">Where</h2>
            <address class="section-copy db mb4">
              Rudding Park<br>
              Harrogate<br>
              HG3 1JH
            </address>
            <a href="https://www.google.com/maps/place/Rudding+Park/@53.9735165,-1.494559,12z/data=!4m8!3m7!1s0x4879519a142cdf57:0xcdaaafbf8e064753!5m2!4m1!1i2!8m2!3d53.9735134!4d-1.4923703"
               class="button center mb4"
               target="_blank">
              See on map
            </a>
          </div>
        </div>
      </div>
      <div class="pane pane--muted-sage-green" id="how-to-get-there">
        <div class="wrapper">
          <h2 class="section-header tc">How to get there</h2>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'car' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Car</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                Car is the easiest way to get to Rudding Park and there is plenty
                of parking at the venue. Rudding park is just off the A658. Take
                J47 off the A1 onto A59 to reach the A658. The venue is really well
                signposted.
              </p>
            </div>
          </div>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'subway' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Public transport</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                The nearest station to Rudding Park is Panal and it is just a
                5 minute taxi ride from there.
              </p>
              <p class="section-copy">
                Alternatively you can head to Harrogate station, the venue is a
                13 minute taxi ride from there.
              </p>
              <p class="section-copy">
                We have found that booking trains in advance is much cheaper,
                especially if you are travelling from London. Book your tickets
                here: <a href="https://www.lner.co.uk" class="link">lner.co.uk</a>
              </p>
            </div>
          </div>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'taxi' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Local Taxis</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                Finally! We are really looking forward to seeing you all on our big
                day. To make life easy we have put this website together so you can
                find all the information you might need.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane" id="places-to-stay">
        <div class="wrapper">
          <h2 class="section-header tc">Places to stay</h2>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/rudding-park.jpg') %>"
                   alt="Rudding Park"
                   class="image-highlight__image">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Rudding Park</h3>
              <p class="section-copy">
                Stay with us at Rudding Park Hotel &amp; Spa (01423 844822)
                and relax with a Spa or a round of Golf.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane pane--pale-green" id="on-the-day">
        <div class="wrapper">
          <h2 class="love-potion f1">On the day</h2>
          <p>
            Finally! We are really looking forward to seeing you all on our big
            day. To make life easy we have put this website together so you can
            find all the information you might need.
          </p>
        </div>
      </div>
      <div class="pane" id="gifts">
        <div class="wrapper">
          <h2 class="love-potion f1">Gifts</h2>
          <p>
            Finally! We are really looking forward to seeing you all on our big
            day. To make life easy we have put this website together so you can
            find all the information you might need.
          </p>
        </div>
      </div>
      <div class="pane" id="rsvp">
        <div class="wrapper">
          <h2 class="love-potion f1">RSVP</h2>
          <form method="post" class="form">
            <fieldset class="form__fieldset">
              <div>
                <label for="name" class="form__label">Who are you?</label>
              </div>
              <div>
                <input type="text" name="name" id="name" class="form__input-text">
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div>
                <label class="form__label">Are you attending?</label>
              </div>
              <div>
                <label class="form__label form__label--radio">
                  <input type="radio" name="attend" value="yes" checked>
                  Yup, I'm ready to eat, drink, and see you get married!
                </label>
                <label class="form__label form__label--radio">
                  <input type="radio" name="attend" value="no">
                  Afraid not, will toast to you from afar.
                </label>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div>
                <label for="guests" class="form__label">Who is coming with you?</label>
              </div>
              <div>
                <textarea type="text" name="guests" id="guests" class="form__input-text h4"></textarea>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div>
                <label for="dietary" class="form__label">Any dietary requirements?</label>
              </div>
              <div>
                <textarea type="text" name="dietary" id="dietary" class="form__input-text h4"></textarea>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div>
                <label for="tune" class="form__label">Any song choices?</label>
              </div>
              <div>
                <textarea type="text" name="tune" id="tune" class="form__input-text h4"></textarea>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <div>
                <label for="comment" class="form__label">Anything else we should know?</label>
              </div>
              <div>
                <textarea type="text" name="comment" id="comment" class="form__input-text h4"></textarea>
              </div>
            </fieldset>
            <fieldset class="form__fieldset">
              <button type="submit" class="button">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
    </main>
    <footer class="pa3">
      <div class="wrapper flex-ns items-start-ns justify-between-ns pt3">
        <p class="mv1">Made with ❤️ by Donna and Kevin</p>
        <ul class="footer-links">
          <li class="footer-links__item">
            <a href="https://github.com/kevindew/donnakevin.wedding" class="link">Source code</a>
          </li>
          <li class="footer-links__item">
            <a href="mailto:help@donnakevin.wedding" class="link">Contact us</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
