<%
require("./favicon.ico")
require("./rsvp-redirect.html")
require("./contribute-redirect.html")
svgCore = require('@fortawesome/fontawesome-svg-core')
icons = require('@fortawesome/free-solid-svg-icons')
svgCore.library.add(icons.fas)
%>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Donna &amp; Kevin's Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./images/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= require('./images/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./images/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./images/favicon-16x16.png') %>">
    <link rel="mask-icon" href="<%= require('./images/safari-pinned-tab.svg') %>" color="#5bbad5">
    <link rel="canonical" href="https://donnakevin.wedding/">
    <meta name="description"
          content="The wedding of Donna Carter and Kevin Dew, happening on the 28th March 2020 at Rudding Park">
    <meta property="og:title"
          content="Donna &amp; Kevin's Wedding">
    <meta property="og:type"
          content="website">
    <meta property="og:image"
          content="https://donnakevin.wedding/<%= require('./images/perdika-1200.jpg') %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:url"
          content="https://donnakevin.wedding/">
  </head>
  <body class="titillium-web text-grey">
    <header>
      <div class="pane">
        <div class="wrapper">
          <div class="page-nav" id="nav">
            <a href="#nav"
               class="page-nav__trigger"
               tabindex="-1"
               aria-hidden="true">
              <%= svgCore.icon(
                    { iconName: 'bars' },
                    { styles: { width: '100%', height: 'auto' } }
                  ).html %>
            </a>
            <nav class="page-nav__nav">
              <ul class="page-nav__list">
                <li class="page-nav__item">
                  <a href="#when-where" class="page-nav__link">
                    When / Where
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#how-to-get-there" class="page-nav__link">
                    How to get there
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#places-to-stay" class="page-nav__link">
                    Places to stay
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#on-the-day" class="page-nav__link">
                    On the day
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="#gifts" class="page-nav__link">
                    Gifts
                  </a>
                </li>
                <li class="page-nav__item">
                  <a href="mailto:help@donnakevin.wedding" class="page-nav__link">
                    Contact us
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <h1 class="ma0">
            <img src="<%= require('./images/logo-512.jpg') %>"
                 srcset="<%= require('./images/logo-512.jpg') %>,
                         <%= require('./images/logo-1024.jpg') %> 2x,
                         <%= require('./images/logo-1536.jpg') %> 3x"
                 alt="Donna Carter &amp; Kevin Dew - 28.03.20"
                 class="hero-image">
          </h1>
        </div>
      </div>
    </header>
    <main>
      <div class="pane pane--pale-green">
        <div class="wrapper mw6">
          <img src="<%= require('./images/us-256.jpg') %>"
               srcset="<%= require('./images/us-256.jpg') %>,
                       <%= require('./images/us-512.jpg') %> 2x"
               alt="Donna and Kevin at sea"
               class="br-100 mt3 mb4 mw5 db center">
          <h2 class="section-header tc">We’re getting married!</h2>
          <p class="section-copy mb3 tc-ns">
            After 10 years, 26 Muse gigs, 23 holidays and 17 foster cats
            we have finally decided to tie the knot.
            We&rsquo;re really looking forward to spending the big day with all
            our friends and family.
          </p>
        </div>
      </div>
      <div class="pane pane--leaves-gate" id="when-where">
        <div class="wrapper flex items-start justify-around">
          <div class="w-50 mw5 tc pa1 leaves-foreground">
            <h2 class="section-header mv3">When</h2>
            <time class="section-copy db tc mb4"
                  datetime="2020-03-28T11:00:00.000Z">
              Saturday<br>
              28 March 2020<br>
              at 11:00 am
            </time>
            <a href="<%= require('./add-to-calendar.ics') %>"
               class="button center mb4">
              Add to calendar
            </a>
          </div>
          <div class="w-50 mw5 tc pa1 leaves-foreground">
            <h2 class="section-header mv3">Where</h2>
            <address class="section-copy db mb4">
              Rudding Park<br>
              Harrogate<br>
              HG3 1JH
            </address>
            <a href="https://www.google.com/maps/place/Rudding+Park/@53.9735165,-1.494559,12z/data=!4m8!3m7!1s0x4879519a142cdf57:0xcdaaafbf8e064753!5m2!4m1!1i2!8m2!3d53.9735134!4d-1.4923703"
               class="button center mb4"
               target="_blank">
              See on map
            </a>
          </div>
        </div>
      </div>
      <div class="pane pane--muted-sage-green" id="how-to-get-there">
        <div class="wrapper">
          <h2 class="section-header tc mt3">How to get there</h2>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'car' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Car</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                For sat navs the postcode is HG3 1JH, otherwise directions are
                available from
                <a href="https://www.google.com/maps/dir//Rudding+Park,+Rudding+Ln,+Follifoot,+Harrogate+HG3+1JH/@53.973493,-1.5624097,12z/data=!4m13!4m12!1m0!1m5!1m1!1s0x4879519a142cdf57:0xcdaaafbf8e064753!2m2!1d-1.4923703!2d53.9735134!2m3!6e1!7e2!8j1585389600!3e0"
                   target="_blank"
                   class="link">Google Maps</a> or
                <a href="https://www.ruddingpark.co.uk/find-us/"
                   target="_blank"
                   class="link">Rudding Park</a>.
              </p>
              <p class="section-copy">
                Once near the venue be careful to take the turning signposted
                to the hotel as there are different entrances for the golf
                course and holiday park that share Rudding Park.
              </p>
              <p class="section-copy">
                There is ample parking at the venue.
            </div>
          </div>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'subway' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Public transport</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                The venue cannot be reached directly by public transport. We
                recommend travelling by train to
                <a href="https://www.google.com/maps/dir//Harrogate,+Station+Parade,+Harrogate/@53.9956745,-1.595215,12z/data=!4m13!4m12!1m0!1m5!1m1!1s0x487953e0b71ea39d:0x7586b6eb5e77a53b!2m2!1d-1.5376973!2d53.9927115!2m3!6e1!7e2!8j1585335600!3e3"
                   target="_blank"
                   class="link">Harrogate</a>
                and using a taxi to reach the venue, which is a 15 minute drive
                and should cost approximately £10.
              </p>
              <p class="section-copy">
                Trains from London depart from Kings Cross and tend to involve
                a change at York. Tickets can be purchased from
                <a href="https://www.lner.co.uk" class="link">lner.co.uk</a>,
                they tend to be available 3 months before the travel date
                and are cheaper the earlier you book.
              </p>
            </div>
          </div>
          <div class="icon-guide">
            <div class="icon-guide__header">
              <%= svgCore.icon({ iconName: 'taxi' }, { classes: ['icon-guide__icon'] }).html %>
              <h3 class="icon-guide__title">Local Taxis</h3>
            </div>
            <div class="icon-guide__body">
              <p class="section-copy">
                We have been recommend
                <a href="http://bluelinetaxis.co.uk/"
                   class="link">Blue Line Taxis</a> as a local firm that
                regularly serve the venue, they can be contacted on
                <a href="tel:01423530830" class="link">01423 530830</a>.
              </p>
              <p class="section-copy">
                We recommend you pre-book with them if you need a taxi to
                return home after the wedding.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane" id="places-to-stay">
        <div class="wrapper">
          <h2 class="section-header tc mt3">Places to stay</h2>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/rudding-park-192.jpg') %>"
                   srcset="<%= require('./images/rudding-park-192.jpg') %>,
                           <%= require('./images/rudding-park-384.jpg') %> 2x"
                   alt=""
                   class="image-highlight__image"
                   role="presentation">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Rudding Park</h3>
              <p class="section-copy">
                Stay with us at
                <a href="https://www.ruddingpark.co.uk/sleep/"
                   class="link">Rudding Park Hotel &amp; Spa</a>
                and be onsite for the whole occasion. You can even extend your
                stay to enjoy a
                <a href="https://www.ruddingpark.co.uk/spa/" class="link">spa</a>
                or
                <a href="https://www.ruddingpark.co.uk/golf/" class="link">golf</a>
                break. There are also lodge options available.
              </p>
              <p class="section-copy">
                Rooms here are on the more expensive side
                but it is a lovely place to stay and very convenient.
              </p>
            </div>
          </div>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/premier-inn-192.jpg') %>"
                   srcset="<%= require('./images/premier-inn-192.jpg') %>,
                           <%= require('./images/premier-inn-384.jpg') %> 2x"
                   alt=""
                   class="image-highlight__image"
                   role="presentation">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Premier Inn Harrogate South</h3>
              <p class="section-copy">
                Less than 10 minutes drive from Rudding Park is
                <a href="https://www.premierinn.com/gb/en/hotels/england/north-yorkshire/harrogate/harrogate-south.html"
                   class="link">Premier Inn Harrogate South</a>
                which offers a more economical accommodation choice. It has
                good parking facilities and is right next to
                <a href="https://www.google.com/maps/place/Hornbeam+Park/@53.9780563,-1.5365209,14z/data=!4m5!3m4!1s0x487951644b5074b3:0xbb59ecd98f6a7fcf!8m2!3d53.9798673!4d-1.5268636"
                   class="link"
                   target="_blank">Hornbeam Park station</a>.
              </p>
            </div>
          </div>
          <div class="image-highlight">
            <div class="image-highlight__image-container">
              <img src="<%= require('./images/harrogate-192.jpg') %>"
                   srcset="<%= require('./images/harrogate-192.jpg') %>,
                           <%= require('./images/harrogate-384.jpg') %> 2x"
                   alt=""
                   class="image-highlight__image"
                   role="presentation">
            </div>
            <div class="image-highlight__copy-container">
              <h3 class="image-highlight__title">Harrogate Town Centre</h3>
              <p class="section-copy">
                You can make the occasion more of a city break by staying in
                <a href="https://www.visitharrogate.co.uk"
                   class="link">Harrogate town centre</a>
                which offers easy access to rail services and is a 15 minute
                taxi ride from Rudding Park.
              </p>
              <p class="section-copy">
                There are plenty of
                <a href="https://www.booking.com/searchresults.en-gb.html?s=Harrogate+town+centre&is_ski_area=0&ssne=Harrogate&ssne_untouched=Harrogate&city=-2598194&checkin_monthday=27&checkin_month=3&checkin_year=2020&checkout_monthday=29&checkout_month=3&checkout_year=2020&group_adults=2&group_children=0&no_rooms=1&from_sf=1&ss_raw=Harrogate+town+center&dest_id=&dest_type="
                   class="link">accommodation options</a>
                available that should suit all budgets.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pane pane--forest-green" id="on-the-day">
        <div class="wrapper">
          <h2 class="section-header tc mt3">On the day</h2>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T10:30:00.000Z">
                10:00
              </time>
              <span class="timeline-entry__event">Arrival</span>
            </h3>
            <p class="timeline-entry__copy">
              You can start arriving at Rudding Park from 10:00, if you head
              towards the reception there will be people there to direct you
              to the event. We’ll need bums on seats by 10:45 for
              the ceremony.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T11:00:00.000Z">
                11:00
              </time>
              <span class="timeline-entry__event">Ceremony</span>
            </h3>
            <p class="timeline-entry__copy">
              The big moment! We will be having a relaxed civil ceremony in the
              Radcliffe room of Rudding House.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T11:30:00.000Z">
                11:30
              </time>
              <span class="timeline-entry__event">Reception</span>
            </h3>
            <p class="timeline-entry__copy">
              Time to throw some confetti and drink some fizz, we will be
              providing both. This is a chance for some photos and some
              mingling. There will also be a kids room and games to keep
              the little (and not so little) ones entertained.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T13:30:00.000Z">
                13:30
              </time>
              <span class="timeline-entry__event">Breakfast</span>
            </h3>
            <p class="timeline-entry__copy">
              Everyone will be sitting down for a 3 course meal, followed by
              speeches. There will be some time afterwards when you can relax or
              continue the fun until the party starts in the evening.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T18:30:00.000Z">
                18:30
              </time>
              <span class="timeline-entry__event">Party</span>
            </h3>
            <p class="timeline-entry__copy">
              Witness the cutting of the cake and our first dance. A DJ will
              encourage everyone to hit the dance floor and throw some shapes.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-28T20:00:00.000Z">
                20:00
              </time>
              <span class="timeline-entry__event">Buffet</span>
            </h3>
            <p class="timeline-entry__copy">
              Hungry? never fear we will be providing some finger food for
              everyone and there will also be plenty of cake.
            </p>
          </div>
          <div class="timeline-entry">
            <h3 class="timeline-entry__header">
              <time class="timeline-entry__time"
                    datetime="2020-03-29T00:30:00.000Z">
                00:30
              </time>
              <span class="timeline-entry__event">Home time</span>
            </h3>
            <p class="timeline-entry__copy">
              The music will stop at half past 12 - well done if you manage
              to party until the end. Don't forget the clocks go forward at
              1am.
            </p>
          </div>
        </div>
      </div>
      <div class="pane pane--leaves pane--gifts" id="gifts">
        <div class="wrapper">
          <div class="leaves-foreground pa4 mv3 w-80-ns center">
            <h2 class="section-header tc">Gifts</h2>
            <p class="section-copy tc mb4">
              Please don’t feel obliged to buy us a gift, we know that
              attending will be expensive and we’d just love to have you there.
              If you do wish to give us something a contribution to our
              honeymoon would be appreciated.
            </p>
            <div class="tc">
              <a href="https://www.paypal.com/pools/c/8h5fFec6PX" class="button">
                Contribute
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pane pane--rsvp" id="rsvp" aria-hidden="true" hidden>
        <div class="wrapper">
          <h2 class="section-header tc mt3">RSVP</h2>
          <div class="mb5-ns w-80-ns center">
            <p class="section-copy tc-ns mb6-ns">
              If you need to let us know if you can make it or have had a
              change in circumstance please let us know by emailing
              <a href="mailto:help@donnakevin.wedding"
                 class="link">help@donnakevin.wedding</a>.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="pa3 footer">
      <div class="wrapper flex-ns items-start-ns justify-between-ns pt3">
        <p class="mv1">Made with ❤️ by Donna and Kevin</p>
        <ul class="footer-links">
          <li class="footer-links__item">
            <a href="https://github.com/kevindew/donnakevin.wedding" class="link footer-links__link">Source code</a>
          </li>
          <li class="footer-links__item">
            <a href="mailto:help@donnakevin.wedding" class="link footer-links__link">Contact us</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
