@import '@fortawesome/fontawesome-svg-core/styles';
@import 'tachyons/src/tachyons';
@import 'styles/fonts';

:root {
  --sand: #fbf6e2;
  --pale-green-rgb: 243, 244, 238;
  --pale-green: rgb(var(--pale-green-rgb));
  --sage-green-rgb: 195, 211, 201;
  --sage-green: rgb(var(--sage-green-rgb));
  --muted-sage-green-rgb: 221, 231, 223;
  --muted-sage-green: rgb(var(--muted-sage-green-rgb));
  --forest-green-rgb: 112, 139, 96;
  --forest-green: rgb(var(--forest-green-rgb));
  --silver-grey: #d1d2d4;
  --earth-brown: #624a36;
  --text-grey: #595d57;
}

.text-grey { color: var(--text-grey); }

.love-potion {
  font-family: 'Love Potion', serif;
  text-transform: uppercase;
}

.titillium-web {
  font-family: 'Titillium Web', sans-serif;
}

.link:link,
.link:visited {
  color: var(--forest-green);
  transition: background-color 0.15s ease-in-out;
}

.link:hover {
  color: var(--earth-brown);
}

.link:focus,
.link:active {
  outline: 0;
  background-color: var(--forest-green);
  color: white;
}

.link:hover:focus,
.link:hover:active {
  background-color: var(--earth-brown);
}

.hero-image {
  width: 100%;
  max-width: 32rem;
  margin: auto;
  display: block;
}

.wrapper {
  margin: auto;
  max-width: 48rem;
}

.pane {
  padding: var(--spacing-medium);
}

.pane--pale-green {
  background-color: var(--pale-green);
}

.pane--muted-sage-green {
  background-color: var(--muted-sage-green);
}

.form {
  font-size: 1.125rem;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 var(--spacing-medium) 0;
}

.form__label {
  line-height: 1.5;
  display: inline-block;
  font-weight: bold;
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.form__label--radio {
  font-weight: normal;
  display: block;
}

.form__input-text {
  border: 2px solid var(--forest-green);
  border-radius: 0.5em;
  width: 100%;
  padding: var(--spacing-small);
  transition: box-shadow 0.15s ease-in-out;
}

.form__input-text:focus {
  outline: 0;
  box-shadow: 0 0 6px 2px rgba(var(--forest-green-rgb), 0.5);
}

.section-header {
  @extend .love-potion;
  @extend .f2;
  @extend .f1-ns;
}

.section-copy {
  @extend .lh-copy;
  @extend .f5;
  @extend .f4-ns;
  @extend .fs-normal;
}

.button,
.button:visited {
  @extend .f5;
  @extend .f4-ns;

  border: 2px solid var(--forest-green);
  color: var(--forest-green);
  display: inline-block;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
}

.button:hover,
.button:focus {
  color: white;
  background-color: var(--forest-green);
}

.button:focus {
  outline: 0;
  box-shadow: 0 0 6px 2px rgba(var(--forest-green-rgb), 0.5);
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links__item {
  @extend .mv1;

  padding: 0;
}

@media (--breakpoint-not-small) {
  .footer-links {
    text-align: right;
  }

  .footer-links__item {
    display: inline-block;
    margin-left: 1rem;
  }
}

.page-nav {
  position: fixed;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 3rem;
  height: 3rem;
}

.page-nav__nav {
  display: none;
}

.page-nav__nav:target,
.page-nav--open .page-nav__nav {
  display: block;
}

.page-nav__trigger {
  float: right;
  font-size: 2rem;
  outline: 0;
}

.page-nav__trigger:link {
  color: var(--text-grey);
}

@media screen and (min-width: 48em) {
  .page-nav {
    right: 50%;
    transform: translateX(24rem);
  }
}

.icon-guide {
  @extend .flex-ns;
  @extend .mb4-ns;
}

.icon-guide__header {
  @extend .f3;
  @extend .f2-ns;
  @extend .mv4;
  @extend .w-third-ns;
}

@media (--breakpoint-not-small) {
  .icon-guide__header {
    text-align: center;
    margin-right: var(--spacing-large);
  }
}

.icon-guide__title {
  @extend .love-potion;
  @extend .ma0;
  @extend .ml2;
  @extend .dib;
}

@media (--breakpoint-not-small) {
  .icon-guide__title {
    margin-left: 0;
    display: block;
  }
}

@media (--breakpoint-not-small) {
  .icon-guide__icon {
    font-size: 4rem;
    margin-bottom: var(--spacing-medium);
  }
}

.icon-guide__body {
  @extend .w-two-thirds-ns;
}

@media (--breakpoint-not-small) {
  .icon-guide__body {
    margin-left: var(--spacing-large);
  }
}
